@import '../_variables.sass'

.wp-block-childress-hero-box
    .hero-info-box
        padding: 15px

        &--inner
            background-color: rgba(0, 0, 0, .6)
            color: $color-white
            margin-left: auto
            max-width: 500px
            padding: 30px 15px

        p
            font-family: sans-serif
            margin: 30px 0

    .hero-list
        background-color: rgba(0, 0, 0, .6)
        color: $color-white
        padding: 60px 0

    h2,
    h3,
    h4
        font-family: sans-serif
        line-height: .9em
        margin-bottom: 0

    h2
        +fluid-font(40px, 65px, 280, 992)

    h3
        +fluid-font(30px, 45px, 280, 992)

    h4
        font-size: 25px

@media screen and ( min-width: 768px )
    .wp-block-childress-hero-box
        .hero-info-box
            padding: 30px

            &--inner
                padding: 60px 30px

@media screen and ( min-width: 992px )
    .wp-block-childress-hero-box
        .hero-info-box
            padding: 60px

        h2
            font-size: 65px

        h3
            font-size: 45px

