@import '../_variables.sass'

.wp-block-childress-featured-slider
    height: 500px
    position: relative

    .featured-slider-banner
        +font-size(56)
        background-color: $color-bg-shade
        color: $color-white
        padding: 30px 60px
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
        z-index: 99
