@import _variables.sass
@import _reset.sass


body
    @extend %font-helvetica-neue
    +font-size(16)
    line-height: 1.5
    overflow-x: hidden

h1,
h2,
h3,
h4,
h5,
h6
    @extend %font-helvetica-neue

h2
    +font-size(56)

h3
    +font-size(30)

p
    margin-bottom: 15px

a
    color: $color-primary
    text-decoration: none

    &:hover
        text-decoration: underline

img
    height: auto
    max-width: 100%

ul
    list-style-type: none

    li
        +font-size(24)
        margin-bottom: 15px

blockquote
    +font-size(20)
    border-left: 2px solid $color-primary !important // sass-lint:disable-line no-important
    margin-left: auto !important // sass-lint:disable-line no-important
    width: 75%

div,
div::before, //sass-lint:disable-line force-pseudo-nesting
div::after //sass-lint:disable-line force-pseudo-nesting
    background-position: center center
    background-size: cover

.container
    margin-left: auto
    margin-right: auto
    padding-left: 15px
    padding-right: 15px
    position: relative
    width: 100%

    &::after
        clear: both
        content: ' '
        display: table

    &--fluid
        max-width: 100%

    &--thin
        width: 100%

///////////////////////////////////////////////////////////////////////////////
// HEADER                                                                    //
///////////////////////////////////////////////////////////////////////////////

.header
    align-items: center
    display: flex
    flex-direction: column
    justify-content: space-between
    margin: 30px

    &__logo
        margin-bottom: 30px

    &__links
        align-items: center
        display: flex
        flex-direction: column
        justify-content: space-between

    &__login
        @extend %font-helvetica-neue
        +font-size(18)
        margin-bottom: 30px

        a
            color: $color-text-grey

.navbar
    &__toggler
        +font-size(30)
        background-color: transparent
        border: 0
        cursor: pointer
        display: block
        margin-bottom: 15px
        margin-left: auto
        margin-right: auto

    &__nav
        align-items: center
        display: flex
        flex-direction: column
        justify-content: flex-end
        list-style-type: none
        max-height: 0
        overflow: hidden
        transition: .3s max-height ease

    &__item
        +font-size(22)
        font-weight: bold
        padding-bottom: 15px
        padding-top: 5px

        &::before
            display: none

        &:last-of-type
            margin-right: 0

    &__link
        @extend %font-helvetica-neue
        color: $color-secondary
        text-decoration: none

        &:hover
            color: $color-primary
            text-decoration: none

    &__drop-menu
        background-color: $color-nav-dropdown
        display: none
        margin-top: 15px
        position: absolute
        z-index: 99

        li
            margin-bottom: 0

        &:hover
            display: block

        &::before
            content: ' '
            height: 45px
            left: 0
            position: absolute
            top: -45px
            width: 100%

    &__drop-item
        +font-size(18)
        color: $color-white
        display: block
        margin-bottom: 0
        padding: 5px 30px

        &:first-of-type
            padding-top: 15px

        &:last-of-type
            padding-bottom: 15px

        &:hover
            background-color: $color-nav-dropdown-hover
            text-decoration: none

///////////////////////////////////////////////////////////////////////////////
// CONTENT                                                                   //
///////////////////////////////////////////////////////////////////////////////

.wp-block-button
    &__link
        @extend %font-helvetica-neue
        +font-size(20)
        background-color: $color-primary
        border-radius: 0
        transition: box-shadow .2s ease-in

        &:hover
            box-shadow: 3px 3px 5px rgba(0, 0, 0, .5)
            text-decoration: none
            transition: box-shadow .2s ease-out

.slick-slider
    height: 100%

    .slick-list,
    .slick-track
        height: 100%

.aligncenter
    display: block

.wp-block-columns
    display: flex

.wp-block-column
    flex-grow: 1


.project
    hr
        color: $color-project-grey

    h2
        +font-size(40)

    &__breadcrumbs
        +font-size(20)

    &__info
        align-items: flex-start
        display: flex
        flex-direction: column-reverse
        padding: 30px 0

        &-text
            flex: 1
            margin-top: 30px

        &-image
            flex: 1

            img
                width: 100%

    &__title
        @extend %font-helvetica-neue-thin
        +font-size(36)
        font-weight: normal
        line-height: 1

    &__location
        +font-size(20)
        color: $color-project-grey
        font-weight: bold

    &__misc
        @extend %font-helvetica-neue-thin
        +font-size(22)

    &__description
        +font-size(18)
        padding: 60px 0

    &__gallery
        display: grid
        grid-gap: 60px
        grid-template-columns: 1fr
        padding: 60px 0

        img
            display: block
            width: 100%

        .wp-block-image
            margin-bottom: 0

.projects-list
    .project
        display: flex
        flex-direction: column
        margin: 60px 0

        &__image
            flex: 1
            margin-bottom: 30px

        &__info
            align-items: flex-start
            display: flex
            flex: 1
            flex-direction: column
            padding: 0

        &__title
            +font-size(36)

        &__description
            +font-size(16)
            padding: 0

        &__read-more
            align-items: center
            display: flex
            width: 100%

            span
                background-color: $color-primary
                flex: 1
                height: 2px
                margin-left: 30px


.wpcf7
    label
        @extend %font-helvetica-neue-medium
        +font-size(16)

    input[type='text'], // sass-lint:disable-line force-attribute-nesting, no-qualifying-elements
    input[type='tel'], // sass-lint:disable-line force-attribute-nesting, no-qualifying-elements
    input[type='email'], // sass-lint:disable-line force-attribute-nesting, no-qualifying-elements
    textarea
        @extend %font-helvetica-neue
        +font-size(20)
        border: 1px solid $color-dark
        padding: 10px 15px
        width: 80%

    input[type='submit'] // sass-lint:disable-line force-attribute-nesting, no-qualifying-elements
        @extend %font-helvetica-neue
        +font-size(20)
        background-color: $color-primary
        border: 0
        border-radius: 0
        color: $color-white
        cursor: pointer
        padding: 15px 50px
        transition: box-shadow .2s ease-in

        &:hover
            box-shadow: 3px 3px 5px rgba(0, 0, 0, .5)
            transition: box-shadow .2s ease-out

.um-847.um // sass-lint:disable-line force-element-nesting
    opacity: 1


///////////////////////////////////////////////////////////////////////////////
// FOOTER                                                                    //
///////////////////////////////////////////////////////////////////////////////

.footer
    &__top
        align-items: center
        display: flex
        flex-direction: column
        padding: 30px

    &__info
        width: 100%

    &__social
        align-items: center
        display: flex
        justify-content: center
        margin-bottom: 30px
        margin-top: 30px

        a
            align-items: center
            color: $color-dark
            display: flex

            &:hover
                color: $color-primary
                text-decoration: none

        .icon
            +font-size(20)
            margin-right: 15px

    &__text
        display: flex
        flex-direction: column

    &__contact
        flex: 1
        margin-left: 30px

        .icon
            color: $color-primary
            position: absolute
            text-align: center
            transform: translate(-150%, 20%)
            width: 20px

        h4
            +font-size(24)
            margin-bottom: 15px

        p
            +font-size(20)
            align-items: flex-start
            display: flex

    &__misc
        border-left: 2px solid $color-primary
        flex: 1
        margin-top: 30px
        padding: 0 30px

        h4
            +font-size(28)
            color: $color-primary
            font-weight: normal
            line-height: 1em
            margin-bottom: 15px

        p
            +font-size(20)

    &__bottom
        background-color: $color-dark

    &__menu
        padding-bottom: 60px
        padding-top: 15px

        .navbar
            &__nav
                align-items: center
                justify-content: center
                max-height: unset

            &__item
                &:first-of-type
                    margin-left: 0

                &:last-of-type
                    margin-right: 0

            &__link
                +font-size(20)
                color: $color-white

    &__copyright
        +font-size(14)
        align-items: center
        border-top: 1px solid $color-white
        color: $color-white
        display: flex
        flex-direction: column
        justify-content: space-between




@import _responsive.sass
